

.content {
    overflow: auto;
    width: calc(100% - 410px);
    height: calc(100vh - 120px);
    border-radius: 10px;
    padding-right: 34px;
}

.content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: var(--box-bg-color);
}

.content::-webkit-scrollbar
{
    width: 8px;
    background-color: var(--body-bg-color);
}

.content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color:  var(--base-color);
}


.content .first-section .total-points {
    flex-grow: 3;
    height: 350px;
}
.content .first-section .exchanges {
    flex-grow: 2;
    height: 350px;
}
.content .first-section .coins {
    flex-grow: 1;
    height: 350px;
}

.content .second-section .box {
    flex-grow: 1;
    height: 315px;
}

.content .third-section .table {
    flex-grow: 1;
    width: 100%;
    height: 335px;
}
