.header {
    height: 80px;
    background-color: var(--box-bg-color);
    padding: 20px 50px;
}

.header .header-links-container {
    gap: 37px;
}

.header .header-links-container .header-links-item {
     list-style-type: none;
     color: var(--white);
     font-weight: 500;
     font-size: 18px;
     padding: 12px 34px;
     border-radius: var(--base-border-radius);
     gap: 6px;
     cursor: pointer;
     transition: .3s all;
 }


.header .header-links-container .header-links-item:hover {
    background: #A37DF9FF
}

.header .header-links-container .header-links-item-active {
    background: linear-gradient(180deg, #A37DF9 0%, #7B5AC5 100%);
}
